---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/videos/7848846
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer vimeo_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      X-Ratelimit-Limit:
      - '250'
      X-Ratelimit-Remaining:
      - '248'
      X-Ratelimit-Reset:
      - '2025-12-12T22:24:47+00:00'
      X-Actionlimit-Limit:
      - '15'
      X-Actionlimit-Remaining:
      - '15'
      X-Actionlimit-Reset:
      - '2025-12-12T22:48:29+00:00'
      Request-Hash:
      - 8b19d61b
      X-Bapp-Server:
      - api-55d8969dd9-95bcm
      X-Backend-Server:
      - api-55d8969dd9-95bcm
    body:
      encoding: UTF-8
      string: '{"uri":"/videos/7848846","name":"IKONS - SLOW LIGHT","description":"Artist:
        IKONS.\nTitle: SLOW LIGHT.\nCreator: Patrik Johansson.\nLabel: SERVICE.\nwww.srvc.se\n\nAlbum
        \"Ikons\" out now CD/LP/Stream from Service","type":"video","link":"https://vimeo.com/7848846","player_embed_url":"https://player.vimeo.com/video/7848846?h=466ebd2f33","duration":494,"width":640,"language":null,"height":480,"embed":{"html":"<iframe
        src=\"https://player.vimeo.com/video/7848846?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=513191\"
        width=\"640\" height=\"480\" frameborder=\"0\" allow=\"autoplay; fullscreen;
        picture-in-picture; clipboard-write; encrypted-media; web-share\" referrerpolicy=\"strict-origin-when-cross-origin\"
        title=\"IKONS - SLOW LIGHT\"></iframe>","badges":{"hdr":false,"live":{"streaming":false,"archived":false},"staff_pick":{"normal":false,"best_of_the_month":false,"best_of_the_year":false,"premiere":false},"vod":false,"weekend_challenge":false},"interactive":false},"created_time":"2009-11-27T11:19:39+00:00","modified_time":"2025-10-11T23:18:10+00:00","release_time":"2009-11-27T11:19:39+00:00","content_rating":["unrated"],"content_rating_class":"unrated","rating_mod_locked":false,"license":null,"privacy":{"view":"anybody","embed":"public","download":false,"add":true,"comments":"anybody"},"pictures":{"uri":"/videos/7848846/pictures/35014584","active":true,"type":"custom","base_link":"https://i.vimeocdn.com/video/35014584-446656421a935f9f256375f1fae2dc8a2d5003030999a23561a76a4ad5ce1bf1-d?region=us","sizes":[{"width":100,"height":75,"link":"https://i.vimeocdn.com/video/35014584-446656421a935f9f256375f1fae2dc8a2d5003030999a23561a76a4ad5ce1bf1-d_100x75?&r=pad&region=us","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F35014584-446656421a935f9f256375f1fae2dc8a2d5003030999a23561a76a4ad5ce1bf1-d_100x75%3F%26region%3Dus&src1=http%3A%2F%2Ff.vimeocdn.com%2Fp%2Fimages%2Fcrawler_play.png"},{"width":200,"height":150,"link":"https://i.vimeocdn.com/video/35014584-446656421a935f9f256375f1fae2dc8a2d5003030999a23561a76a4ad5ce1bf1-d_200x150?&r=pad&region=us","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.v[...]
