---
http_interactions:
- request:
    method: head
    uri: https://api.vimeo.com/videos/74636562
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer vimeo_access_token
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET,DELETE,PATCH,VALIDATE,OPTIONS
      X-Bapp-Server:
      - api-b6f9f76c7-ttfkz
      X-Backend-Server:
      - api-b6f9f76c7-ttfkz
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 12 Dec 2025 23:07:24 GMT
- request:
    method: get
    uri: https://api.vimeo.com/videos/74636562
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer vimeo_access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.vimeo.error+json
      X-Ratelimit-Limit:
      - '250'
      X-Ratelimit-Remaining:
      - '244'
      X-Ratelimit-Reset:
      - '2025-12-12T23:08:24+00:00'
      X-Actionlimit-Limit:
      - '15'
      X-Actionlimit-Remaining:
      - '15'
      X-Actionlimit-Reset:
      - '2025-12-12T23:48:57+00:00'
      Request-Hash:
      - 0b7620f8
      X-Vimeo-Error:
      - 'true'
      X-Bapp-Server:
      - api-b6f9f76c7-kxzb2
      X-Backend-Server:
      - api-b6f9f76c7-kxzb2
    body:
      encoding: UTF-8
      string: '{"invalid_parameters":[{"field":"password","error_code":2223,"error":"Please
        enter a valid password.","developer_message":"The user didn''t enter a password
        for a password-protected video."}],"error":"The application has received an
        invalid parameter. Please get in touch with the app''s creator.","link":null,"developer_message":"The
        parameters passed to this API endpoint didn''t pass Vimeo''s validation. Please
        check the `invalid_parameters` list for more information.","error_code":2204}'
  recorded_at: Fri, 12 Dec 2025 23:07:25 GMT
recorded_with: VCR 6.3.1
